*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Anton', sans-serif;
}

body{
   
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
}

.navbar{
    background-color: #030303;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#nav__logo{
    background-image: linear-gradient(to top, #311a7c 0%,#7e5b9e 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    text-decoration: none;
    align-items: center;
    font-size: 32px;
}

#nav__logo:hover{
   text-shadow: 0px 0px 5px #7e5b9e;
}

#search{
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 50%;
    margin: 20px 10px 0 10px;
    padding-left: 10px;
    border-radius: 18px;
    text-align: left;
    font-size: 1rem;
}

#search:hover{
    box-shadow: 0px 0px 40px #7e5b9e;
}

.navbar__menu{
    list-style-type: none;
    text-align: center;
    align-items: center;
    display: flex;
    
}

.navbar__item{
  height: 80px;
}

.navbar__links{
    color: white;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    height: 100%;
}

/* same as in the logo's color */
.navbar__links:hover{
    background-image: linear-gradient(to top, #311a7c 0%,#7e5b9e 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-shadow: 0px 0px 5px #7e5b9e;
}

.navbar__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button{
    display: flex;
    justify-self: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border-radius: 0.25rem;
    background-color: #583975;
    color: white;
}

.button:hover{
    background-color: #442264;
}

/* mobile menu */

@media screen and (max-width: 800px){
    .navbar__container{
       display: flex;
       justify-content: space-between;
       height: 80px;
       z-index: 1;
       width: 100%;
       max-width: 1300px;
       padding: 0;
    }

    .navbar__menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px; 
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #030303;
    }
/* triggered by javascript */
    .navbar__menu.active{
        background: #030303;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #nav__logo{
        padding: 40px;
    }
    .navbar__change .line {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #583975;  
    }

    .navbar__item{
       width: 100%;
    }

    .navbar__links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn{
        padding-bottom: 2rem;
    }

    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 30%;
        margin: 0;
    }

    .navbar__change .line{
        display: block;
        cursor: pointer;
    }
    /* the middle line will disappear and 
       the others transform into a 'X' { °_°}  */

    #mobile.is-active .line:nth-child(1){
       transform: translateY(8px) rotate(45deg);
    }

    #mobile.is-active .line:nth-child(2){
        opacity: 0;
    }

    #mobile.is-active .line:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* mobil menu end */

/*
.fun{
    position: absolute;
    height: 6rem;
    width: 31.25rem;
    top: 50%;
    left: 50%;
    margin-left:-15.625rem;
    margin-top:-3.125rem;
    color: white;
    font-size: 4rem;
    cursor: pointer;
}

.fun:hover{
    color: burlywood;
    text-align: center;
    animation: spin;
    animation-duration: 3s;
    animation-iteration-count: infinite;

}

@keyframes spin{
    0% {color: #a67d68;}
    20% {color: #a36f55;}
    40% {color: #a16445;}
    60% {color: #9e5633;}
    80% {color: #9e4c23;}
    100% {color: #993808;}
}
*/

.contact{
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to top, #311a7c 0%,#7e5b9e 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-decoration: none;
    padding: 15px;
}

.contact:hover{
    text-shadow: 0px 0px 5px #7e5b9e
}

.bottom__line{
    position: relative;
    bottom: 0;
    height: 90px;
    width: 100%;
    background-color: #030303; 
}

.topnav{
   position: fixed;
   top: 0;
   left: 45%;
}

.box1{
    
    position: relative;
    overflow: hidden;
    background-color: #fff;
    border-radius: 18px;
    width: 480px;
    height: 500px;
    margin: 20px 10px;
    white-space: normal;
    cursor: pointer;
    box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
    transition: all .3s cubic-bezier(0.4, 0, 1, 1);
    text-align:center;
    justify-content: center;
    font-size: 64px;
}

.box2{
    
    position: relative;
    overflow: hidden;
    background-color: #fff;
    border-radius: 18px;
    width: 480px;
    height: 500px;
    margin: 20px 10px;
    white-space: normal;
    cursor: pointer;
    box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
    transition: all .3s cubic-bezier(0.4, 0, 1, 1);
    text-align:center;
    justify-content: center;
    font-size: 64px;
}

.box3{
    
    position: relative;
    overflow: hidden;
    background-color: #fff;
    border-radius: 18px;
    width: 480px;
    height: 500px;
    margin: 20px 10px;
    white-space: normal;
    cursor: pointer;
    box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
    transition: all .3s cubic-bezier(0.4, 0, 1, 1);
    text-align:center;
    justify-content: center;
    font-size: 64px;
}

.box1:hover{
    box-shadow: 2px 4px 12px rgb(0 0 0 / 16%);
  /*  transform: translateX(calc(max(1024px, 100vw)/2 - 490px)); */
}

.box2:hover{
    box-shadow: 2px 4px 12px rgb(0 0 0 / 16%);
}

.box3:hover{
    box-shadow: 2px 4px 12px rgb(0 0 0 / 16%);
}

.box_container{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 0 10px;
    width: 100%; 
}

.from__container{
    position: relative;
    display: flex;
    width: 100%;
    height: 750px;
    background-color: #030303;
}

.about__container{
    position: relative;
    display: flex;
    width: 100%;
    height: 750px;
    background-color: #fff;
    
}
/*
.content{
    
}
*/